@import url(./font.css);
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* 
's-coredream-3light'
's-coredream-4regular'
's-coredream-5medium'
's-coredream-6bold' 
'Pacifico', cursive;
*/



/* ---------- fixed nav ---------- */
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px; right: auto; bottom: 0px; left: 0px; 
    width: 125px; height: 100vh;
    background: radial-gradient(115.09% 115.09% at 0% -9.47%, 
    rgba(162, 220, 233, 0.4) 0%, rgba(162, 220, 233, 0) 100%);
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 999;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}
.nav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav .lnb {
    position: relative;
    width: 100px; height: 700px;
}
.nav .lnb li {
    position: relative;
    height: 100px;
    box-sizing: border-box;
    padding: 90px 0px 0px 16px;
    margin-bottom: 50px;
}
.nav .lnb li a {
    display: block;
    width: 70px;
    transform: rotate(270deg);
    text-align: center;
}
.nav .lnb li a:hover {
    font-family: 's-coredream-4regular';
}
.nav .gnb {}
.nav .gnb li {
    width: 40px; height: 40px;
    margin-bottom: 30px;
}
.nav .gnb li img {width: 100%;}
/* ---------- fixed nav ---------- */

/* ---------- container ---------- */
.container {
    width: 100%; height: 100%;
}
.container .section {
    position: relative;
    width: 100%; height: 100vh;
    overflow-x: hidden;
}
.container .section .line {
    position: fixed; bottom: 53px; right: 30px;
    width: 1px; height: 127px;
    background-color: #000;
    z-index: 999;
}
.container .section #today {
    position: fixed; bottom: 30px; right: 25px;
    font-size: 12px;
    z-index: 999;
}
.container .section .section_bg {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
}
.container .section .inner {
    position: relative;
    width: 1200px; height: 100%;
    box-sizing: border-box;
    margin: 0px auto;
}
/* ---------- #main ---------- */
.container #main {}
.container #main .section_bg {} 
.container #main .section_bg .big{
    position: absolute; top: 85px; right: 65px;
    width: 690px; height: 690px;
    background: radial-gradient(50% 50% at 50% 50%, #78D4E9 0%,
    rgba(120, 212, 233, 0) 100%);
    border-radius: 50%;
    opacity: 0.8;
} 
.container #main .section_bg .small{
    position: absolute; 
    right: 600px; bottom: 75px;
    width: 500px; height: 500px;
    background: radial-gradient(35.42% 35.42% at 50% 50%, #F8E646 0%,
    rgba(248, 230, 70, 0) 100%);
    border-radius: 50%;
    opacity: 0.5;
} 
.container #main .inner .hello {
    display: none;
}
/* ---------- #main ---------- */

/* ---------- #about_character ---------- */
.container #about_character {
    position: absolute;
    top: 0px; left: 0px;
    overflow: hidden;
}
.container #about_character .inner {
    position: absolute;
    bottom: 75px; right: 135px;
    width: 700px; height: 500px;
    background-color: #F8E646;
}

/* ---------- #about_character ---------- */

/* ---------- #about ---------- */
.container #about {
    background: url(./images/about_bg.jpg)no-repeat;
    background-size: cover;
    background-position: center; 
}
.container #about .inner {padding-top: 50px;}
.container #about .inner .about_me {
    width: 100%; height: 100%;
    margin-top: 70px;
}
.container #about .inner .about_me .my_profile {
    display: flex;
}
.container #about .inner .about_me .my_profile .my_photo {
    width: 300px; height: 300px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px;
}
.container #about .inner .about_me .my_profile .my_edu {}
.container #about .inner .about_me .my_profile .my_edu li {}
.container #about .inner .about_me .my_profile .my_edu li:nth-child(1) {font-size: 20px; color: #FFE174;}
.container #about .inner .about_me .my_profile .my_edu li:nth-child(3) {font-size: 20px; color: #FFE174;}
.container #about .inner .about_me .my_profile .my_edu li:nth-child(2) {display: flex;}
.container #about .inner .about_me .my_profile .my_edu li:nth-child(4) {display: flex;}
.container #about .inner .about_me .my_profile .my_edu li p {font-size: 30px; color: #fff;}
.container #about .inner .about_me .my_profile .my_edu li p span {
    display: block;
    font-size: 14px;
}
.container #about .inner .about_me .my_info {
    width: 300px; height: 194px;
    font-size: 20px;
    color: #FFE174;
    background: radial-gradient(94.36% 94.36% at 3.68% 2.09%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(15px);
    border-radius: 3px;
}
.container #about .inner .about_me .my_info li {}
.container #about .inner .about_me .my_career  {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.container #about .inner .about_me .my_career::after {
    position: absolute; top: 63px; left: 0px;    
    content: '';
    width: 100%; height: 3px;
    background: #000;
    border-radius: 3px;
}
.container #about .inner .about_me .my_career ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container #about .inner .about_me .my_career ul li {}
.container #about .inner .about_me .my_career ul li:nth-child(2) {
    position: relative;
    margin-bottom: 40px;
}
.container #about .inner .about_me .my_career ul li:nth-child(2)::after {
    position: absolute; top: 32px; left: 0px; right: 0px;
    content: '';
    width: 20px; height: 20px;
    background-color: #000;
    border-radius: 50%;
    margin: 0px auto;
}
/* ---------- #about ---------- */

/* ---------- #skills ---------- */
.container #skills {
    
}
/* ---------- #skills ---------- */

/* ---------- #project_list ---------- */
.container #project_list {}
.container #project_list .section_bg .big{
    position: absolute; top: 30px; left: 200px;
    width: 690px; height: 690px;
    background: radial-gradient(50% 50% at 50% 50%, #78D4E9 0%,
    rgba(120, 212, 233, 0) 100%);
    border-radius: 50%;
    opacity: 0.8;
} 
.container #project_list .section_bg .small{
    position: absolute; 
    right: 0px; bottom: 0px;
    width: 500px; height: 500px;
    background: radial-gradient(35.42% 35.42% at 50% 50%, #F8E646 0%,
    rgba(248, 230, 70, 0) 100%);
    border-radius: 50%;
    opacity: 0.5;
}
.container #project_list .inner {padding-top: 35px;}
.container #project_list .inner > ul {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.container #project_list .inner ul .list_box {
    width: 365px; height: 533px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.container #project_list .inner ul .list_box > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container #project_list .inner ul .list_box > ul li {
    width: 100%;
    font-size: 14px;
}
.container #project_list .inner ul .list_box > ul li:nth-child(1) {
    height: 50px; line-height: 50px;
    text-align: left;
    color: #A87E6E;
}
.container #project_list .inner ul .list_box > ul li:nth-child(1) strong {
    color: #fff;
    background: #A87E6E;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 0px 10px;
}
.container #project_list .inner ul .list_box > ul li:nth-child(2) {
    height: 97px;
    font-size: 55px;
    font-family: 'Pacifico', cursive;
    text-align: right;
    color: #F2F2F2;
    margin-right: 10px;
}
.container #project_list .inner ul .list_box > ul li:nth-child(3) {
    display: flex;
    align-items: flex-end;
    height: 39px;
    margin-left: 10px;
}
.container #project_list .inner ul .list_box > ul li:nth-child(4) {
    height: 347px;
    position: relative;
}
.container #project_list .inner ul .list_box > ul li:nth-child(4) span {
    position: absolute; top: 10px; right: 15px;
    font-family: 's-coredream-5medium';
    text-align: right;
    border: 1px solid #000;
    padding: 5px;
}
.container #project_list .inner ul .list_box > ul li:nth-child(4) span::before {
    position: absolute; top: 0px; left: 0px;
    content: '';
    width: 0px; height: 100%;
    background: #000;
    transition: all 0.3s;
    box-sizing: border-box;
}
.container #project_list .inner ul .list_box > ul li:nth-child(4) span:hover:before {
    width: 100%;
}
.container #project_list .inner ul .list_box > ul li:nth-child(4) span a {
    position: absolute; top: 0px; left: 0px;
    color: #fff;
    padding: 5px;
    opacity: 0;
    transition: all 0.3s;
}
.container #project_list .inner ul .list_box > ul li:nth-child(4) span:hover a {opacity: 1;}
.container #project_list .inner ul .list_box > ul li:nth-child(4) p {
    text-align: center;
    color: #fff;
    margin-top: 90px;
}
.container #project_list .inner ul .list_box ul li img {
    display: block;
    width: 300px;
    margin: 15px auto 0px;
}
.container #project_list .inner ul .list_box:nth-child(1) ul li:nth-child(4) {
    background: url(./images/list_bg01.png)no-repeat;
    background-size: cover;
}
.container #project_list .inner ul .list_box:nth-child(2) ul li:nth-child(4) {
    background: url(./images/list_bg02.png)no-repeat;
    background-size: cover;
}
.container #project_list .inner ul .list_box:nth-child(3) ul li:nth-child(4) {
    background: url(./images/list_bg03.png)no-repeat;
    background-size: cover;
}

/* ---------- #project_list ---------- */

/* ---------- #proj_minumsa ---------- */
.container #proj_minumsa {}
.container #proj_minumsa .section_bg .big {
    position: absolute; 
    bottom: 148px; right: -35px;
    width: 432px; height: 432px;
} 
.container #proj_minumsa .section_bg .big img {width: 100%;}
.container #proj_minumsa .section_bg .small {
    position: absolute; 
    bottom: 53px; right: 253px;
}
/* ---------- #proj_minumsa ---------- */

/* ---------- #proj_jomalone ---------- */
.container #proj_jomalone {}
.container #proj_jomalone .section_bg .big {
    position: absolute; 
    top: 0px; left: 219px;
} 
.container #proj_jomalone .section_bg .medium {
    position: absolute; 
    bottom: 100px; right: 40px; 
} 
.container #proj_jomalone .section_bg .small {
    position: absolute; 
    bottom: 362px; left: 230px; 
}
/* ---------- #proj_jomalone ---------- */

/* ---------- #proj_login ---------- */
.container #proj_login {}
.container #proj_login .section_bg .big{
    position: absolute; 
    top: 42px; right: 243px;
} 
.container #proj_login .section_bg .medium{
    position: absolute; 
    top: 185px; left: 331px; 
} 
.container #proj_login .section_bg .small{
    position: absolute; 
    bottom: 0px; right: 595px; 
} 
/* ---------- #proj_login ---------- */

/* ---------- #contect ---------- */
.container #contect {}

.container #contect .section_bg .pink_bg {
    position: absolute;
    width: 70%; height: 85%;
    top: 50%; left: 0px; 
    transform: translateY(-50%);
    background: linear-gradient(139.27deg,
    #FBBCDF 7.19%,#FFB3DD 9.07%, #FFEAF6 79.38%);
    border-radius: 0px 300px 300px 0px;
    z-index: -1;
} 
.container #contect .inner {}
.container #contect .inner .contect_txt {
    position: absolute;
    top: 180px; right: 3%;
    width: 735px; height: 500px;
    background: radial-gradient(94.36% 94.36% at 3.68% 2.09%, rgba(255, 255, 255, 0.4) 0%, 
    rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border: 1px solid #eee;
    border-radius: 20px;
}
.container #contect .inner .contect_txt .computer {
    position: absolute;
    bottom: -135px; left: -465px;
    width: 660px; height: 350px;
} 
.container #contect .inner .contect_txt .person {
    position: absolute;
    bottom: -220px; right: -60px;
    width: 231px; height: 354px;
    animation: dongdong 2s 0.6s linear infinite both;
} 
.container #contect .inner .contect_txt .bell {
    position: absolute;
    top: -50px; right: -65px;
    width: 103px; height: 105px;
} 
.container #contect .inner .contect_txt .bell img {
    position: absolute;
    top: 0px; right: 0px;
} 
.container #contect .inner .contect_txt .bell img:last-child {
    animation: dingding 1.5s linear infinite both;
} 
.container #contect .inner .contect_txt img {width: 100%; height: auto;}
.container #contect p {
    position: absolute;
    bottom: 15px; left: 180px;
}
.container #contect .inner .contect_txt > li:nth-child(1) {
    width: 188px;
    padding: 35px 0px 0px 57px;
}
.container #contect .inner .contect_txt > li:nth-child(2) {
    width: 421px;
    padding: 30px 0px 0px 158px;
}
.container #contect .inner .contect_txt > li:nth-child(3) {
    display: flex;
    font-family: 's-coredream-5medium';
    font-size: 25px;
    padding: 40px 0px 0px 110px;
}
.container #contect .inner .contect_txt > li:nth-child(3) > ul > li {margin-bottom: 27px;}
.container #contect .inner .contect_txt > li:nth-child(3) > ul:first-child > li {width: 140px;}
/* ---------- #contect ---------- */
/* ---------- #container ---------- */


/* ---------- animation ---------- */
@keyframes dongdong {
    0% {
        transform: translateY(5px);
    }

    20% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    75% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(5px);
    }
}
@keyframes dingding {
    0% {
        transform: rotate(5deg);
    }

    20% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(5deg);
    }
}
/* ---------- animation ---------- */